/* Tags */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: blue;
  text-align: center;
}

li {
  text-decoration: underline;
  color: black;
}

ul {
  border: 1px solid black;
}

/* IDs */
#login {
  background-color: blue;
  color: aliceblue;
}

#signup {
  background-color: green;
  color: aliceblue;
}

/* Classes */
.copy {
  text-align: center;
  font-size: 10px;
}
