* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
  /* font-size: 20px; */
  font-style: italic;
  font-weight: 700;
}

a {
  text-decoration: none;
}

body {
  /* background: url(./imagem) no-repeat center center fixed;
  background-size: cover; */
  /* background: linear-gradient(90deg, orange, yellow); */
  background-color: #fafc52;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  /* border-bottom: 1px solid black; */
  box-shadow: inset 0 0 10px #000000;
}

#logo img {
  max-width: 200px;
  max-height: 150px;
  width: auto;
  height: auto;
}

header ul {
  display: flex;
}

header ul li {
  padding: 12px;
  border-bottom: 2px solid black;
}

header ul li:first-child {
  border-left: 2px solid black;
}

header ul li a {
  transition: 500ms;
}

header ul li a:hover {
  color: orangered;
  text-decoration: underline;
}

.container {
  text-align: center;
}

.container .name h1 {
  font-size: 60px;
}
.container .name h5 {
  font-size: 25px;
}

#about p {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

.form {
  width: 40%;
  margin: 0 auto;
  border: thick solid black;
  padding: 30px;
}

.form input {
  width: 50%;
  padding: 5px 10px;
  border: none;
  border-radius: 5px 0px 0px 5px;
}

.form button {
  width: 15%;
  padding: 5px 10px;
  background: linear-gradient(to right, orangered 50%, black 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  color: aliceblue;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 300ms ease-out;
  border-radius: 0px 5px 5px 0px;
  margin-left: -5px;
}

.form button:hover {
  background-position: left bottom;
  color: aliceblue;
}
